@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --background: #eaf1f3;
    --font: 'Open Sans', sans-serif;
    --color-font: black;
    --color-font2: white;
    --color-font-settings: rgb(85, 85, 85);
    --start-button: rgb(216, 216, 216);
    --stop-button: rgb(36, 36, 36);
    --box-timer: #1616167e;
    --box-timer-active: #1616167e;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: var(--font);
}

body {
    background-image: url('../images/backgrounds/night/background-night1.gif');
    background-repeat: no-repeat;
    background-position: center center; 
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 99vh;
    position: relative;
}

a, li {
    text-decoration: none;
    list-style: none;
    color: var(--color-font);
}

hr {
    background-color: gray;
    height: 2px;
    opacity: 0.6;
}

.settings {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.settings__timer {
    position: relative;
    background-color: var(--background);
    min-width: 400px;
    padding: 20px;
    border-radius: 10px;
}

.settings__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 15px;
}

.settings__title > h1 {
    color: rgb(160, 160, 160);
    text-transform: uppercase;
    font-size: 18px;
}

.settings__title > img {
    height: 15px;
    width: 15px;
    opacity: 0.4;
}

.settings__minutes {
    margin: 15px 0px;
}

.settings__minutes > h2 {
    font-size: 16px;
    color: var(--color-font-settings);
}

.settings__minutes--inputs {
    display: flex;
    align-items: center;
}

.settings__minutes--inputs div {
    margin: 5px 10px;
}

.settings__minutes--inputs h3 {
    color: rgb(160, 160, 160);
    font-size: 14px;
    margin: 5px 0px;
}

.settings__minutes--inputs input {
    border: none;
    border-radius: 5px;
    background-color: rgb(218, 218, 218);
    color: rgb(85, 85, 85);
    width: 100px;
    padding: 10px 5px;
    font-size: 16px;
}

.settings__auto h2{
    font-size: 16px;
    color: var(--color-font-settings);
}

.auto__break, .auto__pomodoro {
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.break__format {
    display: block;
    height: 30px;
    width: 60px;
    background-color: gray;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5px;
    cursor: pointer;
}

.break__input {
    height: 25px;
    width: 25px;
    background-color: var(--background);
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 1px;
}

.settings__alarm {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
}

.alarm__name h2{
    font-size: 16px;
    color: var(--color-font-settings);
    margin: 10px 0px 0px;
}

/*.alarm__config {

}*/

.header__menu {
    display: flex;
    justify-content: space-around;
    margin: 5px 0px;
    align-items: center;
    color: var(--color-font);
}

.menu__logo a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__logo img {
    width: 35px;
    margin-right: 5px;
}

#menu__home {
    align-items: center;
    padding: 10px;
    color: var(--color-font2);
}

.menu__nav {
    display: flex;
    align-items: center;
}

.menu__nav--opts {
    display: flex;
    align-items: center;
}

.menu__links {
    display: flex;
    align-items: center;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.185);
    padding: 5px 10px 5px 10px;
    margin: 10px;
    border-radius: 5px;
    color: var(--color-font2);
    box-shadow:  3px 3px 4px 0px #00000047;
}

.menu__links:hover {
    box-shadow: inset -1px -1px 2px 2px #00000021;
    transform: translateX(2px) translateY(2px);
}

.menu__links > img {
    max-width: 20px;
    margin-right: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84vh;
}

.pomodoro {
    min-width: 600px;
    background-color: var(--box-timer);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 40px 30px;
    position: relative;
}

.pomodoro__modes {
    margin: 10px 0px 0px;
}

.pomodoro__modes > button {
    border: none;
    margin: 0px 30px;
    background: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
    padding: 5px 10px;
    color: var(--color-font2);
    font-weight: 300;
}

.pomodoro__modes > button:focus {
    background-color: var(--box-timer-active);
}

.pomodoro__timer {
    font-size: 10em;
    font-weight: 900;
    margin-bottom: 20px;
    color: var(--color-font2);
}

.pomodoro__buttons {
    display: flex;
    align-items: center;
    position: absolute;
    top: 87%;
}

.pomodoro__buttons > button {
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: inset 0px -4px 2px 0px #0000003a;
    font-size: 2em;
    text-transform: uppercase;
    width: 275px;
    padding: 10px;
    font-weight: 300;
    margin: 0px -20px;
    position: relative;
    z-index: 1;
}

.pomodoro__buttons > button:focus {
    transform: translateY(4px);
    box-shadow: inset 0px 2px 4px 1px #0000001c;
    transition: color 0.5s ease-in-out 0s;
}

#button__start {
    background-color: var(--start-button);
    color: var(--color-font);
    font-weight: bold;
}

#button__stop {
    background-color: var(--stop-button);
    color: var(--color-font2);
    font-weight: bold;
}
.pomodoro__pokebola > img{
    width: 90px;
    position: relative;
    z-index: 2;
}