/*============================= RULES =============================*/
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/*============================= VARIABLES =============================*/
:root {
    /*============================= COLORS =============================*/
    --background: #eaf1f3;
    --start-button: rgb(216, 216, 216);
    --stop-button: rgb(36, 36, 36);
    --box-timer: #1616167e;
    --box-timer-active: #1616167e;

    /*============================= FONT VARIABLES =============================*/
    --font: 'Open Sans', sans-serif;
    --color-font: black;
    --color-font2: white;
    --color-font-settings: rgb(85, 85, 85);
}

/*============================= RESET HTML =============================*/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: var(--font);
}

/*============================= BASE =============================*/
body {
    background-image: url('../images/backgrounds/night/background-night1.gif');
    background-repeat: no-repeat;
    background-position: center center; 
    background-attachment: fixed;
    background-size: cover;
    height: 99vh;
    position: relative;
    overflow-x: hidden;
}

a, li {
    text-decoration: none;
    list-style: none;
    color: var(--color-font);
}

hr {
    background-color: gray;
    height: 2px;
    opacity: 0.6;
}

/*============================= HEADER & NAV =============================*/

.header__menu {
    display: flex;
    justify-content: space-around;
    margin: 5px 0px;
    align-items: center;
    color: var(--color-font);
}

.menu__logo h1 {
    display: flex;
    align-items: center;
}

.menu__logo a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__logo img {
    width: 35px;
    margin-right: 5px;
}

#menu__home {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    color: var(--color-font2);
}

#checkbox--hamburguer {
    display: none;
}

.menu__nav {
    display: flex;
    align-items: center;
}

.menu__nav--opts {
    display: flex;
    align-items: center;
}

.menu__links {
    display: flex;
    align-items: center;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.185);
    padding: 5px 10px 5px 10px;
    margin: 10px;
    border-radius: 5px;
    color: var(--color-font2);
    box-shadow:  3px 3px 4px 0px #00000047;
}

.menu__links:hover {
    box-shadow: inset -1px -1px 2px 2px #00000021;
    transform: translateX(2px) translateY(2px);
}

.menu__links > img {
    max-width: 20px;
    margin-right: 10px;
}

/*============================= SETTINGS BOX =============================*/

.settings {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    height: 84vh;
}

.settings__timer {
    position: relative;
    background-color: var(--background);
    min-width: 400px;
    padding: 20px;
    border-radius: 10px;
}

.settings__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 15px;
}

.settings__title > h1 {
    color: rgb(160, 160, 160);
    text-transform: uppercase;
    font-size: 18px;
}

.settings__title > img {
    height: 20px;
    width: 20px;
    opacity: 0.4;
}

.settings__title > img:hover {
    opacity: 0.6;
    cursor: pointer;
}

.settings__minutes {
    margin: 15px 0px;
}

.settings__minutes > h2 {
    font-size: 16px;
    color: var(--color-font-settings);
}

.settings__minutes--inputs {
    display: flex;
    align-items: center;
}

.settings__minutes--inputs div {
    margin: 5px 10px;
}

.settings__minutes--inputs h3 {
    color: rgb(160, 160, 160);
    font-size: 14px;
    margin: 5px 0px;
}

.settings__minutes--inputs input {
    border: none;
    border-radius: 5px;
    background-color: rgb(218, 218, 218);
    color: rgb(85, 85, 85);
    width: 100px;
    padding: 10px 5px;
    font-size: 16px;
}

.settings__auto h2{
    font-size: 16px;
    color: var(--color-font-settings);
}

.auto__break, .auto__pomodoro, .auto__form {
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active__format {
    display: block;
    height: 30px;
    width: 60px;
    background-color: gray;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5px;
    cursor: pointer;
}

.active__input {
    height: 23px;
    width: 23px;
    background-color: var(--background);
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 1px;
    transition: ease-in-out 0.2s;
}

.settings__alarm {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
}

.alarm__name h2{
    font-size: 16px;
    color: var(--color-font-settings);
    margin: 5px 0px 0px;
}

.alarm__config {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.alarm__input {
    color: var(--color-font-settings);
    font-size: 14px;
    background-color: rgb(218, 218, 218);
    border-radius: 5px;
    padding: 10px;
    min-width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.alarm__input img {
    height: 10px;
    width: 10px;
    opacity: 0.5;
}

.alarm__dropdown {
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    padding: 10px 0px;
    background-color: var(--background);
    box-shadow: 2px 2px 5px 2px #00000026;
    cursor: default;
    min-width: 150px;
}

.alarm__dropdown div {
    padding: 10px;
    cursor: pointer;
}

.alarm__dropdown div:hover {
    background-color: rgb(218, 218, 218);
}

.alarm__sound {
    display: flex;
    align-items: center;
    color: rgb(160, 160, 160);
    margin: 15px 0px;
}

.alarm__sound span {
    margin-right: 10px;
}

.alarm__sound input, .alarm__sound input::-webkit-slider-runnable-track, .alarm__sound input::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.alarm__sound input {
    border-radius: 10px;
    background-color: rgb(204, 204, 204);
    appearance: none;
    height: 8px;
    outline: none;
}

.alarm__sound input::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    background-color: var(--background);
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px 1px;
    border-radius: 60px;
}

.alarm__repeat {
    display: flex;
    align-items: center;
}

.alarm__repeat span {
    margin-right: 10px;
    color: var(--color-font-settings);
    font-weight: bold;
    font-size: 14px;
}

.alarm__repeat input {
    max-width: 100px;
    border: none;
    background-color: rgb(218, 218, 218);
    padding: 10px 5px;
    border-radius: 5px;
    font-size: 16px;
    color: rgb(85, 85, 85);
}

.settings__save {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

/*============================= POKEMON CONTAINER =============================*/

.pokemon-container {
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 5;
    height: 85vh;
    transition: 0.5s ease-in-out;
}

.pokemon__window {
    position: relative;
    border-radius: 20px;
    min-width: 600px;
    min-height: 400px;
    background-color: var(--box-timer);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pokemon__header {
    align-self: baseline;
    margin: 0px 30px;
}

.pokemon__header > img {
    cursor: pointer;
    opacity: 0.7;
    width: 20px;
}

.pokemon__image {
    margin: 0px 0px 20px;
}

.pokemon__image > img {
    width: 200px
}

.pokemon__info {
    font-family: var(--font);
    color: var(--color-font2);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#pokemon--name {
    font-size: 2em;
}

#pokemon--id {
    margin-top: 10px;
    font-size: 1.2em;
}

/*============================= CONTAINER POMODORO =============================*/

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84vh;
}

.pomodoro {
    min-width: 600px;
    background-color: var(--box-timer);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 40px 30px;
    position: relative;
}

.pomodoro__modes {
    margin: 10px 0px 0px;
}

.pomodoro__modes > button {
    border: none;
    margin: 0px 30px;
    background: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
    padding: 5px 10px;
    color: var(--color-font2);
    font-weight: 300;
}

.pomodoro__timer {
    font-size: 10em;
    font-weight: 900;
    margin-bottom: 20px;
    color: var(--color-font2);
}

.pomodoro__buttons {
    display: flex;
    align-items: center;
    position: absolute;
    top: 87%;
}

.pomodoro__buttons > button {
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: inset 0px -4px 2px 0px #0000003a;
    font-size: 2em;
    text-transform: uppercase;
    width: 275px;
    padding: 10px;
    font-weight: 300;
    margin: 0px -20px;
    position: relative;
    z-index: 1;
}

.pomodoro__buttons > button:focus {
    transform: translateY(4px);
    box-shadow: inset 0px 2px 4px 1px #0000001c;
    transition: color 0.5s ease-in-out 0s;
}

#button--start {
    background-color: var(--start-button);
    color: var(--color-font);
    font-weight: bold;
}

#button--stop {
    background-color: var(--stop-button);
    color: var(--color-font2);
    font-weight: bold;
}

.pomodoro__pokebola > img{
    width: 90px;
    position: relative;
    z-index: 2;
}

/*============================= MEDIAS =============================*/
@media (max-width: 1400px) {
    .pomodoro {
        min-width: 500px;
        border-radius: 25px;
        padding: 20px 30px 20px;
    }
    
    .pomodoro__modes {
        margin: 10px 0px 0px;
    }
    
    .pomodoro__modes > button {
        margin: 0px 20px;
        border-radius: 5px;
        font-size: 1.1em;
        padding: 5px 10px;
    }
    
    .pomodoro__timer {
        font-size: 9em;
        margin-bottom: 15px;
    }
    
    .pomodoro__buttons > button {
        border-radius: 5px;
        font-size: 2em;
        width: 233px;
        padding: 10px;
        margin: 0px -20px;
    }

    .pomodoro__pokebola > img{
        width: 85px;
    }
}

@media (max-width: 1000px) {
    .pomodoro {
        min-width: 400px;
        border-radius: 20px;
        padding: 15px 20px 15px;
    }
    
    .pomodoro__modes {
        margin: 10px 0px 0px;
    }
    
    .pomodoro__modes > button {
        margin: 0px 15px;
        border-radius: 5px;
        font-size: 1em;
        padding: 5px 10px;
    }
    
    .pomodoro__timer {
        font-size: 8em;
        margin-bottom: 15px;
    }

    .pomodoro__buttons {
        top: 85%;
    }
    
    .pomodoro__buttons > button {
        border-radius: 5px;
        font-size: 1.6em;
        width: 205px;
        padding: 10px;
        margin: 0px -20px;
    }

    .pomodoro__pokebola > img{
        width: 70px;
    }

    .pokemon__window {
        min-width: 450px;
        min-height: 200px;
    }
    
    .pokemon__header {
        margin: 30px 30px;
    }
    
    .pokemon__image {
        margin: 0px 0px 10px;
    }

    .pokemon__image > img {
        width: 150px
    }
    
    #pokemon--name {
        font-size: 1.5em;
    }
    
    #pokemon--id {
        margin: 10px 0px 10px;
        font-size: 1em;
    }
}

@media (max-width: 750px) {
    .menu__logo img {
        width: 30px;
    }
    
    #menu__home {
        padding: 5px;
    }
    
    .menu__links {
        padding: 4px 8px 4px 8px;
        margin: 8px;
        box-shadow:  2px 2px 3px 0px #00000047;
    }

    .pomodoro__buttons {
        top: 85%;
    }
    
    .pomodoro__buttons > button {
        border-radius: 5px;
        font-size: 1.6em;
        width: 206px;
        padding: 10px;
        margin: 0px -20px;
    }

    .pomodoro__pokebola > img{
        width: 70px;
    }
}

@media (max-width: 600px) {
    .header__menu {
        flex-direction: row-reverse;
        justify-content: space-around;
        margin: 5px 10px;
        padding: 20px 0px;
    }

    .menu__logo h1 {
        font-size: 1.5em;
    }

    .menu__logo img {
        width: 25px;
        margin-right: 5px;
    }
    
    #menu__home {
        padding: 0px 8px;
    }

    .menu__dropdown {
        visibility: hidden;
        opacity: 0;
    }

    .menu__nav--opts {
        position: absolute;
        top: 8vh;
        left: 0;
        width: 96%;
        z-index: 1000;
        flex-direction: column;
    }

    .menu__nav--opts li {
        width: 100%;
    }

    .menu__links {
        background-color: var(--stop-button);
        font-size: 0.9em;
        padding: 4px 10px 4px 10px;
        margin: 8px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .menu__links > img {
        max-width: 20px;
        margin-right: 10px;
    }

    #checkbox--hamburguer {
        display: block;
        position: absolute;
        opacity: 0;
    }

    .menu__hamburguer label {
        cursor: pointer;
        position: relative;
        display: block;
        height: 10px;
        width: 20px;
    }

    .menu__hamburguer label > span {
        position: absolute;
        display: block;
        height: 2px;
        width: 100%;
        border-radius: 30px;
        background-color: var(--start-button);
        transition: 0.25s ease-in-out;
    }

    .menu__hamburguer label > span:nth-child(1) {
        top: 0;
    }

    .menu__hamburguer label > span:nth-child(2) {
        top: 6px;
    }

    .menu__hamburguer label > span:nth-child(3) {
        top: 12px;
    }

    .pomodoro {
        min-width: 300px;
        border-radius: 15px;
        padding: 10px 15px 10px;
    }
    
    .pomodoro__modes {
        margin: 8px 0px 0px;
    }
    
    .pomodoro__modes > button {
        margin: 0px 10px;
        border-radius: 5px;
        font-size: 1em;
        padding: 5px 10px;
    }
    
    .pomodoro__timer {
        font-size: 7em;
        margin-bottom: 20px;
    }

    .pomodoro__buttons {
        top: 85%;
    }
    
    .pomodoro__buttons > button {
        border-radius: 5px;
        font-size: 1.4em;
        width: 190px;
        padding: 10px;
        margin: 0px -20px;
    }

    .pomodoro__pokebola > img{
        width: 60px;
    }

    .pokemon__window {
        min-width: 380px;
        min-height: 150px;
    }
    
    .pokemon__header {
        margin: 20px 20px;
    }

    .settings__timer {
        min-width: 300px;
        padding: 15px;
    }
    
    .settings__title {
        margin: 0px 0px 15px;
    }
    
    .settings__title > h1 {
        font-size: 17px;
    }
    
    .settings__title > img {
        height: 20px;
        width: 20px;
    }
    
    .settings__minutes {
        margin: 10px 0px;
    }
    
    .settings__minutes > h2 {
        font-size: 15px;
    }
    
    .settings__minutes--inputs div {
        margin: 5px 10px;
    }
    
    .settings__minutes--inputs h3 {
        font-size: 13px;
        margin: 5px 0px;
    }
    
    .settings__minutes--inputs input {
        width: 90px;
        padding: 10px 5px;
        font-size: 15px;
    }
    
    .settings__auto h2{
        font-size: 15px;
    }
    
    .auto__break, .auto__pomodoro, .auto__form {
        margin: 10px 0px;
        display: flex;
    }
    
    .break__format {
        height: 25px;
        width: 50px;
        padding: 5px;
    }
    
    .break__input {
        height: 18px;
        width: 18px;
    }
    
    .settings__alarm {
        margin: 10px 0px;
    }
    
    .alarm__name h2{
        font-size: 15px;
        margin: 5px 0px 0px;
    }
    
    .alarm__input {
        font-size: 13px;
        padding: 8px;
        min-width: 120px;
    }

    .alarm__dropdown {
        top: 40px;
        padding: 8px 0px;
        min-width: 120px;
    }

    .alarm__sound {
        margin: 10px 0px;
    }

    .alarm__sound input {
        height: 5px;
    }
    
    .alarm__sound input::-webkit-slider-thumb {
        width: 15px;
        height: 15px;
    }
    
    .alarm__repeat span {
        font-size: 13px;
    }
    
    .alarm__repeat input {
        max-width: 80px;
        padding: 8px 5px;
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .pomodoro {
        min-width: 100px;
        border-radius: 10px;
        padding: 5px 10px 5px;
    }
    
    .pomodoro__modes {
        margin: 6px 0px 0px;
    }
    
    .pomodoro__modes > button {
        margin: 0px 5px;
        border-radius: 5px;
        font-size: 0.9em;
        padding: 5px 10px;
    }
    
    .pomodoro__timer {
        font-size: 6em;
        margin-bottom: 20px;
    }

    .pomodoro__buttons {
        top: 85%;
    }
    
    .pomodoro__buttons > button {
        border-radius: 5px;
        font-size: 1.3em;
        width: 157px;
        padding: 8px;
        margin: 0px -18px;
    }

    .pomodoro__pokebola > img{
        width: 60px;
    }

    .pokemon__window {
        min-width: 350px;
        min-height: 150px;
    }
    
    .pokemon__header {
        margin: 10px 10px;
    }

    .pokemon__image > img {
        width: 130px
    }
    
    #pokemon--name {
        font-size: 1.4em;
    }
    
    #pokemon--id {
        margin: 10px 0px 10px;
        font-size: 0.9em;
    }
}

@media (max-width: 375px) {
    .pomodoro {
        min-width: 100px;
        border-radius: 10px;
        padding: 3px 8px 3px;
    }
    
    .pomodoro__modes {
        margin: 4px 0px 0px;
    }
    
    .pomodoro__modes > button {
        margin: 0px 3px;
        border-radius: 5px;
        font-size: 0.8em;
        padding: 5px 8px;
    }
    
    .pomodoro__timer {
        font-size: 5em;
        margin-bottom: 15px;
    }

    .pomodoro__buttons {
        top: 85%;
    }
    
    .pomodoro__buttons > button {
        border-radius: 5px;
        font-size: 1.2em;
        width: 137px;
        padding: 6px;
        margin: 0px -17px;
    }

    .pomodoro__pokebola > img{
        width: 45px;
    }

    .pokemon__window {
        min-width: 300px;
        min-height: 150px;
    }
    
    .pokemon__header {
        margin: 10px 10px;
    }

    .pokemon__image > img {
        width: 120px
    }

    .settings__title {
        margin: 0px 0px 15px;
    }
    
    .settings__title > h1 {
        font-size: 16px;
    }
    
    .settings__title > img {
        height: 18px;
        width: 18px;
    }
    
    .settings__minutes {
        margin: 10px 0px;
    }
    
    .settings__minutes > h2 {
        font-size: 14px;
    }
    
    .settings__minutes--inputs h3 {
        font-size: 12px;
        margin: 5px 0px;
    }
    
    .settings__minutes--inputs input {
        width: 70px;
        padding: 5px 5px;
        font-size: 14px;
    }
    
    .settings__auto h2{
        font-size: 15px;
    }
    
    .alarm__name h2{
        font-size: 14px;
    }
    
    .alarm__input {
        font-size: 12px;
        min-width: 100px;
    }

    .alarm__dropdown {
        top: 30px;
        min-width: 100px;
    }

    .alarm__repeat span {
        font-size: 12px;
    }
    
    .alarm__repeat input {
        max-width: 70px;
        padding: 6px 5px;
        font-size: 14px;
    }
}