/*============================= MEDIAS =============================*/
@media (max-width: 450px) {
    .header a {
        font-size: 1.2em;
        margin: 10px;
    }
    
    .header a img {
        margin-right: 10px;
        min-width: 45px;
    }
    
    .header p {
        font-size: 1em;
        margin: 10px;
    }
    
    .sign-box {
        padding: 15px;
        margin: 10px;
        min-width: 350px;
    }
    
    .sign-box span {
        font-size: 0.8em;
        opacity: 0.8;
        margin: 0px 0px 5px;
    }
    
    #sign__email, #sign__pwd, #sign__user {
        padding: 8px 10px;
        border-radius: 5px;
        font-size: 1em;
    }
    
    #sign__button {
        padding: 10px;
        font-size: 1em;
        border-radius: 5px;
        min-width: 250px;
    }

    .aside__sign-up p {
        margin-bottom: 10px;
        font-size: 1em;
    }
    
    .aside__sign-up a {
        font-size: 0.9em;
    }
}

@media (max-width: 370px) {
    .header a {
        font-size: 1.1em;
        margin: 10px;
    }
    
    .sign-box {
        padding: 15px;
        margin: 10px;
        min-width: 300px;
    }
    
    .sign-box span {
        font-size: 0.8em;
        opacity: 0.8;
        margin: 0px 0px 5px;
    }
    
    #sign__email, #sign__pwd {
        padding: 8px 10px;
        width: 100%;
        border-radius: 5px;
        font-size: 1em;
    }
    
    #sign__button {
        padding: 10px;
        font-size: 1em;
        border-radius: 5px;
        min-width: 200px;
    }

    .aside__sign-up p {
        margin-bottom: 10px;
        font-size: 0.9em;
    }
    
    .aside__sign-up a {
        font-size: 0.8em;
    }
}